<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>like</servlet-name>
        <servlet-class>servlets.like</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>comment</servlet-name>
        <servlet-class>servlets.comment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>privacy</servlet-name>
        <servlet-class>servlets.privacy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>following</servlet-name>
        <servlet-class>servlets.following</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletecomment</servlet-name>
        <servlet-class>servlets.deletecomment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>avgpricechart</servlet-name>
        <servlet-class>servlets.avgpricechart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>photoperlocchart</servlet-name>
        <servlet-class>servlets.photoperlocchart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>postsovertimechart</servlet-name>
        <servlet-class>servlets.postsovertimechart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usersovertimechart</servlet-name>
        <servlet-class>servlets.usersovertimechart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>like</servlet-name>
        <url-pattern>/like</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>comment</servlet-name>
        <url-pattern>/comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>privacy</servlet-name>
        <url-pattern>/privacy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>following</servlet-name>
        <url-pattern>/following</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletecomment</servlet-name>
        <url-pattern>/deletecomment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>avgpricechart</servlet-name>
        <url-pattern>/avgpricechart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>photoperlocchart</servlet-name>
        <url-pattern>/photoperlocchart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postsovertimechart</servlet-name>
        <url-pattern>/postsovertimechart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usersovertimechart</servlet-name>
        <url-pattern>/usersovertimechart</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/landing.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
